*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
    height: 100vh;
    width: 100vw;
}

body {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-grey-1, 0.5),
            rgba($color-grey-3, 0.5)
        ),
        url('../assets/images/bg.jpg');
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
}

main {
    height: 100%;
    display: flex;
}
