*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
    height: 100vh;
    width: 100vw;
}

body {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

.App {
    height: 100%;
}
