*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
    height: 100%;
    min-width: 100%;
}

body {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    font-family: Shojumaru, sans-serif;
}

.page {
    background-image: url('../assets/images/bamboo-2.jpg');
    background-size: cover;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.background__dojo {
    position: absolute;
    width: 80rem;
    height: 80rem;
    bottom: 2.8rem;
    left: 50%;
    bottom: 2.6rem;
    transform: translateX(-50%);
    z-index: 1;
}

main {
    height: 90%;
    display: flex;
    overflow-x: scroll;
    z-index: 3;

    &::-webkit-scrollbar {
        background: rgba($color-black, 0.3);
        height: 1.2rem;
    }
    &::-webkit-scrollbar-thumb:horizontal {
        background: rgba($color-black, 0.5);
    }
}
