@mixin menu-style($padding: $size-medium) {
    &__close {
        position: absolute;
        top: 1rem;
        right: 2rem;
        cursor: pointer;
    }
    &__katana {
        width: 2rem;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.2);
        }
    }
    &__ul {
        background-color: $color-grey-1;
        width: 25%;
        list-style-type: none;
        text-align: center;
        padding: $padding;
        border-radius: 10px;
        position: relative;
        width: $menu-item-width;
        transition: all 0.2s ease-in-out;
        text-transform: uppercase;
    }
    &__li {
        font-size: resize($default-font-size, 1.8);
        border-bottom: 1px solid $color-black;
        padding: $size-small;
        position: relative;
        cursor: pointer;
        height: 100%;
        width: 100%;

        &:last-of-type {
            border-bottom: none;
        }
    }
    &__svg {
        height: 3rem;
        position: absolute;
        top: 50%;
        left: 0;
        opacity: 1;
        transform: rotate(-135deg) translate(35%, 35%);

        &--animated {
            animation: move-in-left 0.5s ease-out;
            animation-fill-mode: backwards;
            transition: all 0.2s ease-in-out;
        }
    }
    &__li:hover &__svg {
        transform: rotate(-135deg) translate(0);
        animation: move-in-left-100 0.3s ease-out;
        animation-fill-mode: forwards;
    }
}
