@font-face {
    font-family: 'DancingScript-Bold';
    font-weight: 700;
    src: local('DancingScript'),
        url('../assets/fonts/DancingScript.ttf') format('opentype');
}
@font-face {
    font-family: 'Shojumaru';
    font-weight: 400;
    src: local('Shojumaru-6ZlM'),
        url('../assets/fonts/Shojumaru-6ZlM.ttf') format('opentype');
}
