$color-white: #fff;
$color-black: #000;
$color-green: rgb(76, 175, 80);
$color-red: rgb(244, 66, 54);
$color-blue: rgb(0, 132, 255);
$color-green-2: rgb(62, 117, 45);
$color-green-3: rgb(74, 84, 77);
$color-green-4: rgb(3, 33, 25);
$color-grey-0: rgb(230, 230, 230);
$color-grey-1: rgb(204, 204, 204);
$color-grey-2: rgb(150, 150, 150);
$color-grey-3: rgb(110, 110, 110);

$default-font-size: 1;

$size-tiny: 0.5rem;
$size-xsmall: 1rem;
$size-small: 2rem;
$size-medium: 4rem;
$size-large: 6rem;

$border-radius: 0.5rem;
$border-radius-large: 1rem;
