.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(37, 37, 37);
    height: 5rem;
    align-items: center;
    color: $color-white;
    padding: 0 5rem;
    z-index: 10;

    &__attribution-box {
        color: $color-grey-3;
        a {
            font-size: resize($default-font-size, 0.5);
            text-decoration: none;
            color: $color-grey-3;
        }
    }
    &__developer-box {
    }
    &__dev {
        &--developed {
            font-family: DancingScript-Bold, sans-serif;
            font-size: resize($default-font-size, 1.5);
        }
        &--name {
        }
    }
    &__dev-link {
        font-family: Shojumaru, sans-serif;
        text-decoration: none;
        font-size: resize($default-font-size, 1.2);
        color: $color-white;

        &:hover {
            color: $color-green-2;
        }
    }
}
