.header {
    height: 5rem;
    line-height: 5rem;
    background-color: rgba($color-green-3, 0.8);
    display: flex;
    justify-content: center;
    z-index: 3;

    &__logo-box {
        height: 100%;
        display: inline-flex;
        align-items: center;
        padding: 0 $size-small;
    }
    &__logo {
        width: 3.5rem;
        height: 3.5rem;
        background-image: url('../assets/icons/svg/001-ninja.svg');
        transition: all 0.2s ease-out;
    }
    &__board {
        width: 4rem;
        height: 4rem;
        margin: 0 $size-small;
    }
    &__title-block {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__title-block:hover > &__title {
        color: $color-grey-1;
    }
    &__title-block:hover > &__logo {
        background-image: url('../assets/icons/svg/023-ninja-4.svg');
        color: $color-grey-1;
    }
    &__title {
        display: inline;
        margin: 0 5rem;
        font-size: resize($default-font-size, 3);
        color: $color-green-4;
    }
    @include mq-manager(tab-land) {
        &__logo {
            width: 3.5rem;
            height: 3.5rem;
        }
        &__logo-box {
            padding: 0;
        }
        &__board {
            width: 4rem;
            height: 4rem;
        }
        &__title {
            margin: 0 3rem;
            font-size: resize($default-font-size, 2.4);
        }
    }
    @include mq-manager(tab-port) {
        height: 4rem;
        line-height: 4rem;
        &__logo {
            width: 3.5rem;
            height: 3.5rem;
        }
        &__board {
            width: 4rem;
            height: 4rem;
        }
        &__title {
            margin: 0 2rem;
            font-size: resize($default-font-size, 1.8);
        }
    }
    @include mq-manager(phone) {
        &__logo {
            width: 2rem;
            height: 2rem;
        }
        &__board {
            width: 2.5rem;
            height: 2.5rem;
        }
        &__title {
            margin: 0 1rem;
            font-size: resize($default-font-size, 1.4);
        }
    }
    @include mq-manager(mini) {
        &__logo {
            width: 1.5rem;
            height: 1.5rem;
        }
        &__board {
            width: 2rem;
            height: 2rem;
        }
        &__title {
            margin: 0 0.5rem;
            font-size: resize($default-font-size, 1.2);
        }
    }
}
