.btn {
    width: 7.5rem;
    border-radius: $border-radius;
    color: $color-white;
    height: 2.5rem;
    font-size: resize($default-font-size, 1.4);
    font-weight: bold;
    border: none;
    outline-width: 0;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.3);
    transition: all 0.15s ease-in-out;

    &--ok {
        background-color: $color-green;
    }
    &--cancel {
        margin-left: $size-xsmall;
        background-color: $color-red;
    }
    &--add {
        background-color: $color-grey-1;
        padding: $size-xsmall;
        height: 4rem;
    }
    &:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0.6rem 0.6rem 1.2rem rgba($color-black, 0.5);
    }
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.5);
    }
}
