.col {
    background-color: $color-grey-1;
    background-color: rgba(0,0,0,0.4);
    border-radius: $border-radius;
    width: 30rem;
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(:first-child) {
        margin-left: $size-small;
    }
    &__header-box {
        display: flex;
        flex-grow: 1;
        height: 3rem;
    }
    &__column-btn {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
    &__col-individual {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
    &__title {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: resize($default-font-size, 2);
    }
    &__ctrl-box {
        display: flex;
        justify-content: center;
        margin: $size-small 0;
    }
    &__sticks-plus {
        width: 2rem;
        height: 2rem;
        transform: rotate(45deg);
    }
}
