.col {
    background-color: rgba($color-green-3, 0.6);
    border-radius: $border-radius;
    width: 35rem;
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(:first-child) {
        margin-left: $size-small;
    }
    &__header-box {
        height: 5rem;
        padding: 1rem;
        color: $color-white;
    }
    &__column-btn {
        position: absolute;
        top: $size-tiny;
        right: $size-tiny;
        background: transparent;
        border: none;
        border-radius: 50%;
        padding: $size-tiny;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    &__scrolls {
        width: 3rem;
    }
    &__col-individual {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
    &__title {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: resize($default-font-size, 2.2);
        letter-spacing: 1.1px;
        text-align: center;
        font-family: Shojumaru, sans-serif;
    }
    &__ctrl-box {
        display: flex;
        justify-content: center;
        margin: 1.5rem 0;
    }
    &__sticks-plus {
        width: 2rem;
        height: 2rem;
        transform: rotate(45deg);
    }
}
