.delete-modal {
    background-color: $color-grey-1;
    z-index: 20;
    padding: $size-small;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.5);

    &__ctrl-box {
        margin-top: $size-small;
        display: flex;
        justify-content: flex-end;
    }
    &__title {
        font-size: resize($default-font-size, 2);
        
        &--item {
            font-size: resize($default-font-size, 1.6);
            font-weight: lighter;
        }
    }
}
