.item {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__container {
        &:not(:first-child) {
            margin-top: $size-xsmall;
        }
    }
    &__item-box {
        border: 1px solid $color-black;
        border-style: dotted;
        background-color: $color-grey-0;
        border-radius: $border-radius;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $size-xsmall;
    }
    &__item-btn {
        border: none;
        cursor: pointer;
    }
    &__scroll {
        width: 3rem;
    }
    &__paragraph {
        &--title {
            font-size: resize($default-font-size, 1.2);
            height: 5rem;
            line-height: 5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 $size-small;
        }
    }
}
