.item-wrapper {
    width: 100%;
    height: 100%;
    padding: $size-small;
    display: flex;
    flex-direction: column;
    background-color: rgba($color-black, 0.2);
    overflow-y: auto;
    max-height: 55rem;

    &::-webkit-scrollbar {
        background: inherit;
        width: 1rem;
    }
    &::-webkit-scrollbar-thumb:vertical {
        background: rgba(0, 0, 0, 0.5);
    }
}
