.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color-black, 0.9);
    z-index: 100;

    &--visible {
        display: flex;
    }
    &--hide {
        display: none;
    }
    &__modal-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50rem;
        padding: $padding-small;
        background-color: $color-grey-1;
        display: flex;
        flex-direction: column;
        border-radius: $border-radius;
    }
    &__input {
        width: 100%;
        padding-left: $padding-xsmall;
        height: 3rem;
        border-radius: $border-radius;
        font-size: resize($default-font-size, 0.75);
        transition: all 0.3s;
        border: none;
        outline-width: 0;

        &--description {
            min-height: 20rem;
            padding: $padding-xsmall;
            font-size: resize($default-font-size, 1.2);
            resize: none;
        }
    }
    &__label {
        height: 2.5rem;
        display: flex;
        flex-grow: 1;
        font-size: resize($default-font-size, 0.75);
        padding-left: $padding-xsmall;
        align-items: center;
        transition: all 0.3s;
    }
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__body {
        display: flex;
        flex-direction: column;
    }
    &__ctrl {
        display: flex;
        justify-content: flex-end;
        margin-top: $margin-xsmall;
    }
}
