.move-item {
    position: absolute;
    top: 39%;
    left: 59%;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 3;
    background-color: $color-grey-1;
    width: 20%;
    padding: $size-small;
    text-align: center;
    &__close {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
    &__title {
        font-size: resize($default-font-size, 2.4);
        margin-bottom: $size-small;
    }
    &__subtitle {
        font-size: resize($default-font-size, 1.8);
        padding-bottom: $size-xsmall;
        border-bottom: 1px solid $color-black;
    }
    &__ul {
        list-style-type: none;
        padding: $size-tiny;
    }
    &__li {
        font-size: 1.6rem;
        padding: $size-tiny 0;
        cursor: pointer;
    }
}

