.window-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; 
    right: 0;
    padding: $size-large;
    background: rgba(0,0,0,0.6);
    z-index: 2;
    &__section {
        background: $color-grey-1;
        width: 35%;
        height: 50%;
        border-radius: $border-radius;
        padding: $size-medium;
        position: relative;
    }
    &__title-section {
        padding: $size-small 0;
        border-bottom: 1px solid $color-black;
        text-align: center;
    }
    &__title {
        font-size: resize($default-font-size, 2);
    }
    &__btn {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 3rem;
        background: $color-black;
    }
    &__description-section {
        margin-top: $size-medium;
    }
    &__description-text {
        font-size: resize($default-font-size, 1.6);
    }
}