@font-face {
  font-family: 'DancingScript-Bold';
  font-weight: 700;
  src: local("DancingScript"), url("../assets/fonts/DancingScript.ttf") format("opentype");
}

@font-face {
  font-family: 'Shojumaru';
  font-weight: 400;
  src: local("Shojumaru-6ZlM"), url("../assets/fonts/Shojumaru-6ZlM.ttf") format("opentype");
}

@-webkit-keyframes move-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes move-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes move-in-left-100 {
  0% {
    -webkit-transform: translate(0) translateY(-1.5rem) rotate(-135deg);
            transform: translate(0) translateY(-1.5rem) rotate(-135deg);
  }
  100% {
    -webkit-transform: translateX(25rem) translateY(-1.5rem) rotate(-135deg);
            transform: translateX(25rem) translateY(-1.5rem) rotate(-135deg);
    opacity: 0;
  }
}

@keyframes move-in-left-100 {
  0% {
    -webkit-transform: translate(0) translateY(-1.5rem) rotate(-135deg);
            transform: translate(0) translateY(-1.5rem) rotate(-135deg);
  }
  100% {
    -webkit-transform: translateX(25rem) translateY(-1.5rem) rotate(-135deg);
            transform: translateX(25rem) translateY(-1.5rem) rotate(-135deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotate-icon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-icon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: 100%;
  font-family: Shojumaru, sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.app__add {
  background-color: rgba(74, 84, 77, 0.6);
  height: 15rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app__add-title {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1.1px;
  margin-top: -1.5rem;
}

.app__add-btn {
  display: block;
  margin: 2rem auto;
}

.app__add-sticks-plus {
  width: 2rem;
  height: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.background__bamboo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.background__dojo {
  position: absolute;
  z-index: -1;
  width: 80vw;
  height: 80vh;
  bottom: 2.8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.item__container:not(:first-child) {
  margin-top: 1rem;
}

.item__item-box {
  border: 1px solid #000;
  border-style: dotted;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.item__item-btn {
  border: none;
  cursor: pointer;
}

.item__scroll {
  width: 3rem;
}

.item__paragraph--title {
  font-size: 1.2rem;
  height: 5rem;
  line-height: 5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 2rem;
}

.item-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
}

.item-menu {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-menu__close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.item-menu__katana {
  width: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-menu__katana:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.item-menu__ul {
  background-color: #cccccc;
  width: 25%;
  list-style-type: none;
  text-align: center;
  padding: 4rem;
  border-radius: 10px;
  position: relative;
  width: 30rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.item-menu__li {
  font-size: 1.8rem;
  border-bottom: 1px solid #000;
  padding: 2rem;
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.item-menu__li:last-of-type {
  border-bottom: none;
}

.item-menu__svg {
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 1;
  -webkit-transform: rotate(-135deg) translate(35%, 35%);
          transform: rotate(-135deg) translate(35%, 35%);
}

.item-menu__svg--animated {
  -webkit-animation: move-in-left 0.5s ease-out;
          animation: move-in-left 0.5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.item-menu__li:hover .item-menu__svg {
  -webkit-transform: rotate(-135deg) translate(0);
          transform: rotate(-135deg) translate(0);
  -webkit-animation: move-in-left-100 0.3s ease-out;
          animation: move-in-left-100 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.move-item {
  position: absolute;
  top: 39%;
  left: 59%;
  border-radius: 1rem;
  z-index: 3;
  background-color: #cccccc;
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.move-item__bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.move-item__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}

.move-item__subtitle {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.move-item__close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.move-item__katana {
  width: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.move-item__katana:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.move-item__ul {
  background-color: #cccccc;
  width: 25%;
  list-style-type: none;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  width: 30rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.move-item__li {
  font-size: 1.8rem;
  border-bottom: 1px solid #000;
  padding: 2rem;
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.move-item__li:last-of-type {
  border-bottom: none;
}

.move-item__svg {
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 1;
  -webkit-transform: rotate(-135deg) translate(35%, 35%);
          transform: rotate(-135deg) translate(35%, 35%);
}

.move-item__svg--animated {
  -webkit-animation: move-in-left 0.5s ease-out;
          animation: move-in-left 0.5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.move-item__li:hover .move-item__svg {
  -webkit-transform: rotate(-135deg) translate(0);
          transform: rotate(-135deg) translate(0);
  -webkit-animation: move-in-left-100 0.3s ease-out;
          animation: move-in-left-100 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.col {
  background-color: rgba(74, 84, 77, 0.6);
  border-radius: 0.5rem;
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.col:not(:first-child) {
  margin-left: 2rem;
}

.col__header-box {
  height: 5rem;
  padding: 1rem;
  color: #fff;
}

.col__column-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.col__column-btn:focus {
  outline: none;
}

.col__scrolls {
  width: 3rem;
}

.col__col-individual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.col__title {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2rem;
  letter-spacing: 1.1px;
  text-align: center;
  font-family: Shojumaru, sans-serif;
  color: #cccccc;
}

.col__ctrl-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5rem 0;
}

.col__sticks-plus {
  width: 2rem;
  height: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.col-edit-menu {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
}

.col-edit-menu__section {
  position: relative;
  border-radius: 1rem;
  z-index: 3;
  background-color: #cccccc;
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.col-edit-menu__katana {
  width: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.col-edit-menu__katana:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.col-edit-menu__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}

.col-edit-menu__close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.col-edit-menu__close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.col-edit-menu__katana {
  width: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.col-edit-menu__katana:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.col-edit-menu__ul {
  background-color: #cccccc;
  width: 25%;
  list-style-type: none;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  width: 30rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.col-edit-menu__li {
  font-size: 1.8rem;
  border-bottom: 1px solid #000;
  padding: 2rem;
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.col-edit-menu__li:last-of-type {
  border-bottom: none;
}

.col-edit-menu__svg {
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 1;
  -webkit-transform: rotate(-135deg) translate(35%, 35%);
          transform: rotate(-135deg) translate(35%, 35%);
}

.col-edit-menu__svg--animated {
  -webkit-animation: move-in-left 0.5s ease-out;
          animation: move-in-left 0.5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.col-edit-menu__li:hover .col-edit-menu__svg {
  -webkit-transform: rotate(-135deg) translate(0);
          transform: rotate(-135deg) translate(0);
  -webkit-animation: move-in-left-100 0.3s ease-out;
          animation: move-in-left-100 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.col-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal--visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal--hide {
  display: none;
}

.modal__modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50rem;
  padding: 2rem;
  background-color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.5rem;
  z-index: 10;
}

.modal__title {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.modal__input {
  width: 100%;
  padding-left: 1rem;
  height: 3rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  outline-width: 0;
}

.modal__input--description {
  min-height: 20rem;
  padding: 1rem;
  font-size: 1.6rem;
  resize: none;
}

.modal__label {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.2rem;
  padding-left: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.modal__katana {
  width: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal__katana:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal__input:placeholder-shown + .modal__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.modal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__ctrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
}

.btn {
  width: 7.5rem;
  border-radius: 0.5rem;
  color: #fff;
  height: 2.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  outline-width: 0;
  cursor: pointer;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  -webkit-box-shadow: 0.6rem 0.6rem 1.2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.6rem 0.6rem 1.2rem rgba(0, 0, 0, 0.5);
}

.btn:hover svg {
  -webkit-animation: rotate-icon infinite 10s linear;
          animation: rotate-icon infinite 10s linear;
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.btn--ok {
  background-color: #4caf50;
}

.btn--cancel {
  margin-left: 1rem;
  background-color: #f44236;
}

.btn--add {
  background-color: #cccccc;
  padding: 1rem;
  height: 4rem;
}

.btn--invalid {
  background-color: #969696;
}

.btn--invalid:hover {
  cursor: not-allowed;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btn--animated ~ svg {
  background-color: red;
}

.window-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 6rem;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.window-modal__section {
  background: #cccccc;
  width: 35%;
  height: 50%;
  border-radius: 0.5rem;
  padding: 4rem;
  position: relative;
}

.window-modal__title-section {
  padding: 2rem 0;
  border-bottom: 1px solid #000;
  text-align: center;
}

.window-modal__title {
  font-size: 2rem;
}

.window-modal__btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  background: #000;
}

.window-modal__description-section {
  margin-top: 4rem;
}

.window-modal__description-text {
  font-size: 1.6rem;
}

.delete-modal {
  background-color: #cccccc;
  z-index: 20;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.delete-modal__ctrl-box {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.delete-modal__title {
  font-size: 2rem;
}

.delete-modal__title--item {
  font-size: 1.6rem;
  font-weight: lighter;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__tooltip-text {
  visibility: hidden;
  width: 12rem;
  background-color: #6e6e6e;
  color: #fff;
  text-align: center;
  border-radius: 0.6rem;
  padding: 0.5rem 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  z-index: 1;
  margin-left: -6rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip__tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: #969696 transparent transparent transparent;
}

.tooltip:hover .tooltip__tooltip-text {
  visibility: visible;
  opacity: 1;
}

.header {
  height: 5rem;
  background-color: rgba(74, 84, 77, 0.8);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo-box {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.header__logo {
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("../assets/icons/svg/001-ninja.svg");
}

.header__logo:hover {
  background-image: url("../assets/icons/svg/023-ninja-4.svg");
}

.header__board {
  width: 4rem;
  height: 4rem;
  margin: 0 2rem;
}

.header__title {
  display: inline;
  margin: 0 5rem;
  font-size: 3rem;
  color: #032119;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #252525;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 5rem;
}

.footer__attribution-box {
  color: #6e6e6e;
}

.footer__attribution-box a {
  font-size: 0.5rem;
  text-decoration: none;
  color: #6e6e6e;
}

.footer__dev--developed {
  font-family: DancingScript-Bold, sans-serif;
  font-size: 1.5rem;
}

.footer__dev-link {
  font-family: Shojumaru, sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}

.footer__dev-link:hover {
  color: #3e752d;
}
/*# sourceMappingURL=style.css.map */